@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	height: 50px;
	align-items: center;
	padding: 0 48px;
}

.logo,
.header-nav,
.contact-btn {
	flex: 33.3%;
}

.contact-btn {
	display: flex;
	justify-content: flex-end;
}

.header-nav {
	display: flex;
	justify-content: center;
}

.header-nav ul li {
	list-style: none;
}
